{% extends 'back.html.twig' %}

{% block body %}
	<div class="container">
		<h2>Profile</h2>
		<table class="table table-bordered shadow-sm">
			<tbody>
				<tr>
					<th scope="row">Nom</th>
					<td>{{ user.nom }}</td>
				</tr>
				<tr>
					<th scope="row">Prenom</th>
					<td>{{ user.prenom }}</td>
				</tr>
				<tr>
					<th scope="row">Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th scope="row">Genre</th>
					<td>{{ user.genre }}</td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex justify-content-center" style="
				    margin-top: 20px;
				    margin-left: 500px;">
			<a href="{{ path('update_user', {'id': user.idUser}) }}" type="button" class="btn btn-success btn-rounded btn-fw mx-3">Update</a>
			<form action="{{ path('delete_user', {'id': user.idUser}) }}" method="post">
				<button type="submit" class="btn btn-danger btn-rounded btn-fw mx-3">Delete Profile</button>
				<input type="hidden" name="_method" value="DELETE">
			</form>
		</div>
	</div>
{% endblock %}
