{% extends 'baseFront.html.twig' %}

{% block body %}
	{% for type, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}
	{% endfor %}
	<section class="contact_section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="detail-box" style=" ">
						<div class="heading_container">
							<h3>
								PROFILE
							</h3>
							{# <p>
																																																																																																																								                It is a long established fact that a reader will be distracted
																																																																																																																								                by the readable
																																																																																																																								              </p> #}
						</div>
					</div>
				</div>
				<div class="card-body">
					<table class="table" style="box-shadow: -1px 1px 18px 2px #363636;background-color: white;margin-top: 80px;border-radius: 10px;">
						<tbody>
							<tr>
								<td>Nom:</td>
								<td>{{user.nom}}</td>
							</tr>
							<tr>
								<td>Prenom:</td>
								<td>{{user.prenom}}</td>
							</tr>
							<tr>
								<td>Email:</td>
								<td>{{user.email}}</td>
							</tr>
							<tr>
								<td>Genre:</td>
								<td>{{user.genre}}</td>
							</tr>
						</tbody>
					</table>
					<div class="d-flex justify-content-center" style="margin-left: 290px;">
						<a href="{{ path('update_user', {'id': user.idUser}) }}" type="button" class="btn btn-success btn-rounded btn-fw mr-2">Update</a>
						<form action="{{ path('delete_user', {'id': user.idUser}) }}" method="post">
							<button type="submit" class="btn btn-danger btn-rounded btn-fw">Delete Account</button>
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
