<div>
    <img src="{{ asset('images/logo.jpg') }}"    style="width:60px; height:50px;"    alt="Logo"   />
    </div>
    
                    <table  border="1">
                        <thead >
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Localisation</th>
                                <th>Catégorie</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for serv in service %}
                                <tr>
                                    <td>{{ serv.getId() }}</td>
                                    <td>
                                        <img src="{{ 'uploads/' ~ serv.image }}" 
                                            style="width:60px; height:50px;" 
                                            class="rounded shadow"
                                            alt=""
                                        />
                                    </td>
                                    <td>{{ serv.getNom() }}</td>
                                    <td>{{ serv.getDescription() }}</td>
                                    <td>{{ serv.getLocalisation() }}</td>
                                    <td>{{ serv.getCategory() }}</td>
                                   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  