{% extends 'baseBack.html.twig' %}

{% block body %}
	<div class="col-12">
		<div class="card shadow-sm">
			<div class="card-body">
				<h2 class="card-title">Update Profile</h2>
				<p class="card-description">
					Modifier vos données
				</p>
				{{ form_start(form, {'attr':{"novalidate":"novalidate()"}}) }}
				<table class="table">
					<tr>
						<td>
							<label for="exampleInputEmail1">Nom</label>
						</td>
						<td>{{ form_widget(form.nom, {'attr': {'value': user.nom}}) }}</td>
						<td style="padding-right: 400px;padding-top: 30px;color: green ;">
							{{ form_errors(form.nom) }}
						</td>
					</tr>
					<tr>
						<td>
							<label for="exampleInputEmail1">Prenom</label>
						</td>
						<td>{{ form_widget(form.prenom, {'attr': {'value': user.prenom}}) }}</td>
						<td style="color : green ;">
							{{ form_errors(form.prenom) }}
						</td>
					</tr>
					<tr>
						<td>
							<label for="exampleInputEmail1">Email</label>
						</td>
						<td>{{ form_widget(form.email, {'attr': {'value': user.email}}) }}</td>
						<td style="color : green ;">
							{{ form_errors(form.email) }}
						</td>
					</tr>
					<tr>
						<td>
							<label for="exampleInputEmail1">Password</label>
						</td>
						<td>{{ form_widget(form.motDePasse, {'attr': {'value': user.motDePasse}}) }}</td>
						<td style="color : green ;">
							{{ form_errors(form.motDePasse) }}
						</td>

					</tr>
				</table>
				<div class="d-flex justify-content-center" style="margin-top: 20px;margin-left: 500px;">
					<button type="submit" class="btn btn-success mr-2">Submit</button>
					<button href="{{ path('show_user',{'id': user.idUser})}}" class="btn btn-light">Cancel</button>
					{{ form_end(form) }}
				</div>
			</div>

		</div>
	</div>
{% endblock %}
