{% extends 'baseFront.html.twig' %}

{% block body %}
	<section class="contact_section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="detail-box">
						<div class="heading_container">
							<h3>
								Update Profile
							</h3>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="contact-form">
						<h5>
							modifier vos données
						</h5>
						{{ form_start(form , {'attr':{"novalidate":"novalidate()"}}) }}
						<div>
							{{ form_widget(form.nom, {'attr': {'value': user.nom}}) }}
							{{ form_errors(form.nom) }}
						</div>
						<div>
							{{ form_widget(form.prenom, {'attr': {'value': user.prenom}}) }}
							{{ form_errors(form.prenom) }}
						</div>
						<div>
							{{ form_widget(form.email, {'attr': {'value': user.email}}) }}
							{{ form_errors(form.email) }}
						</div>
						<div>
							{{ form_widget(form.motDePasse, {'attr': {'value': user.motDePasse}}) }}
							{{ form_errors(form.motDePasse) }}
						</div>
						<div class="form-group row mt-4">
							<div class="col-md-6">
							<button type="submit" class="btn btn-primary btn-block ">Update Profile</button>
							</div>
							<div class="col-md-6">
							<button class="btn btn-secondary btn-block "  href="{{ path('show_user',{'id': user.idUser})}}" >Cancel</button>
							</div>
						</div>
						{{ form_end(form) }}

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
