{% extends 'baseBack.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}
	{# {% for user in users %}
									<tr>
										<td>{{ user.nom }}</td>
										<td>{{ user.prenom }}</td>
										<td>{{ user.email }}</td>
										<td>{{ user.genre }}</td>
										<td>
											<a href="{{ path('user_edit', {'id': user.idUser}) }}">Modify</a>
											{% if loggedInUser.getGenre() == "admin" %}
												<a href="{{ path('user_delete', {'id': user.idUser}) }}">Delete</a>
											{% endif %}
										</td>
									</tr> #}
	<div class="user-table-container">
		<table class="user-table">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>User Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for Otheruser in users %}
				{% if not (Otheruser.getGenre() == "admin") %}
				
					<tr>
						<td>{{ Otheruser.nom }}</td>
						<td>{{ Otheruser.prenom }}</td>
						<td>{{ Otheruser.email }}</td>
						<td>{{ Otheruser.genre }}</td>
						<td>
							<div class="actions">
								{% if user.getGenre() == "admin"   %}
									<a class="btn btn-primary" href="{{ path('admin_edit_user', {'id': Otheruser.idUser})}}">Edit</a>

									<a class="btn btn-danger" href="{{ path('delete_user_Admin', {'id': Otheruser.idUser}) }}">Delete</a>
								{% endif %}
							</div>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>


	</div>

{% endblock %}
{# <a href=#>Modify</a>
            {% if loggedInUser.getGenre() == "admin" %}
                <a href=#>Delete</a> #}
