{% extends 'baseFront.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<!-- login section -->

	<section class="login_section layout_padding">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="detail-box">
						<h3>
							Sustainability Hub
						</h3>
						<p>
							Create your  account now and get immediate access to workshops
																																																																																											Blogs and Events

						</p>
						{# <a href="">
																																																																																											REGISTER NOW
																																																																																										</a> #}
					</div>
				</div>
				<div class="col-md-6">
					<div class="login_form">
						<h5>
							Register Now
						</h5>
						<form action="{{ path('create_user') }}" method='post'>

							<div>
								{{ form_widget(userForm.nom,  {'attr': {'placeholder': 'nom'}}) }}
							</div>
							<div>
								{{ form_widget(userForm.prenom, {'attr': {'placeholder': 'prenom'}})}}
							</div>
							<div>
								{{ form_widget(userForm.email, {'attr': {'placeholder': 'Email'}}) }}
							</div>
							<div>
								{{ form_widget(userForm.mot_de_passe, {'attr': {'placeholder': 'Password'}}) }}
							</div>
							<div>
								{{ form_widget(userForm.genre, {'attr': {'class': 'form-control'}}) }}
							</div>
							<button type="submit">{{ button_label|default('Register') }}</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
