{% extends 'baseFront.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<!-- login section -->

	<section class="login_section layout_padding">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="detail-box">
						<h3>
							Sustainability Hub
						</h3>
						<p>
							Create your  account now and get immediate access to workshops
																																																																																																																																																																																																																																																																																																																																																																												Blogs and Events

						</p>
						{# <a href="">
																																																																																																																																																																																																																																																																																																																																					REGISTER NOW
																																																																																																																																																																																																																																																																																																																																				</a> #}
					</div>
				</div>
				<div class="col-md-6">
					<div class="login_form">
						<h5>
							Register Now
						</h5>
						{{ form_start(userForm , {'attr':{"novalidate":"novalidate()"}}) }}
						<form action="{{ path('create_user') }}">

							<div>
								{{ form_widget(userForm.nom,  {'attr': {'placeholder': 'nom'}}) }}
								{{ form_errors(userForm.nom) }}
							</div>
							<div>
								{{ form_widget(userForm.prenom, {'attr': {'placeholder': 'prenom'}})}}
								{{ form_errors(userForm.prenom) }}
							</div>
							<div>
								{{ form_widget(userForm.email, {'attr': {'placeholder': 'Email'}}) }}
								{{ form_errors(userForm.email) }}
							</div>
							<div style="display: flex; " >
								<div style="float: left;  width:500px; " >
									{{ form_widget(userForm.motDePasse,  {'attr': {'placeholder': 'Password'}, 'type': showPassword ? 'text' : 'password' , 'id':'registerForm_motDePasse'}) }}
									{{ form_errors(userForm.motDePasse) }}
								</div>
								<div style="float: right; width:10%;" >
									<input type="checkbox" id="showPassword" name="showPassword" onclick="togglePassword()" style="height: 30px;margin-top: 15px;">
									<script>
										function togglePassword() {
											var passwordField = document.getElementById("registerForm_motDePasse");
											var showPassword = document.getElementById("showPassword");
											if (showPassword.checked) {
											passwordField.type = "text";
											} else {
											passwordField.type = "password";
											}
											}
									</script>
								</div>
							</div>
							
							<div>
								{{ form_widget(userForm.genre, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(userForm.genre) }}
							</div>

							
							{{ form_end(userForm ) }}

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
